@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: #F8F9FA;
  min-width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  word-spacing: -0.3em;
}

pre {
  color: #cdd1d6;
}

.red-text {
  color: #e5383b;
}

.yellow-text {
  color: #ff7b00;
}

.header {
  background-color: #212529;
  color: #F8F9FA;
  margin-bottom: 10px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.1875em 15px 0.1875em 15px;
}
.header__item {
  color: #F8F9FA;
  text-decoration: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.header__item:hover {
  color: #e5383b;
  cursor: pointer;
}
.header__commands-list {
  display: none;
  list-style: none;
}
.header__commands-list.open {
  display: flex;
  flex-flow: column;
  background-color: #212529;
  position: absolute;
  z-index: 5;
  top: 1.875em;
  right: 0px;
  padding: 0.5em;
  text-align: right;
}
.header__command {
  background-color: #495057;
  margin-bottom: 0.1875em;
  padding-left: 0.2em;
}
.header__command:hover {
  color: #e5383b;
  cursor: pointer;
}
.header__props-list {
  font-size: 0.8em;
  list-style: none;
  display: none;
}
.header__props-list.open {
  display: block;
}
.header__props {
  margin-bottom: 0.1875em;
}
.header__props:hover {
  cursor: pointer;
  color: #e5383b;
}

.main__container {
  max-width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.sidebar {
  background-color: #cdd1d6;
  color: #495057;
  position: relative;
  width: 47.5vw;
  padding: 0.625em 1.5625em 1.5625em 1.5625em;
}
.sidebar .title-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -moz-column-gap: 0.25em;
       column-gap: 0.25em;
}
.sidebar .title-block__text {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.2em;
}
.sidebar .title-block__text:hover {
  cursor: pointer;
}
.sidebar .title-block__icon {
  background-image: url(../images/arrow.png);
  background-size: cover;
  height: 1em;
  width: 1.75em;
  margin-bottom: 0.25em;
}
.sidebar .title-block__icon:hover {
  cursor: pointer;
}
.sidebar .title-block__icon.active {
  transform: rotate(180deg);
}
.sidebar .title-block__level-menu {
  display: none;
  list-style: none;
}
.sidebar .title-block__level-menu.open {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0.25em;
  grid-row-gap: 0.25em;
  background-color: #212529;
  position: absolute;
  top: 2em;
  padding: 0.25em;
  text-align: center;
}
.sidebar .title-block__level {
  background-color: #495057;
  color: #F8F9FA;
  padding-left: 0.25em;
  opacity: 0.5;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.sidebar .title-block__level.solved {
  opacity: 1;
}
.sidebar .title-block__level.solved:hover {
  cursor: pointer;
  color: #e5383b;
}
.sidebar__text-body {
  display: flex;
  flex-flow: column;
  row-gap: 1em;
}
.sidebar__properties {
  font-size: 0.8em;
  list-style: none;
}

.code-editor {
  background-color: #212529;
  width: 100%;
  display: flex;
}
.code-editor__numbers {
  background-color: #495057;
  color: #cdd1d6;
  width: 2.5em;
  text-align: right;
}
.code-editor__work-area {
  width: 100%;
  position: relative;
}
.code-editor__input {
  outline: none;
  resize: none;
  border: none;
  height: 7.5em;
  background-color: #495057;
  color: #e5383b;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  word-spacing: -0.3em;
  margin-left: 2.4375em;
  padding-left: 0.125em;
  width: calc(100% - 3.6875em);
}
.code-editor__bttn-next {
  position: absolute;
  right: 1.25em;
  bottom: 1.25em;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  word-spacing: -0.3em;
  padding: 0.3125em 0.625em 0.3125em 0.625em;
  transition: all 0.5s ease;
  background-color: #41c95e;
  border: 0.125em solid #29a043;
  filter: grayscale(0.7);
}
.code-editor__bttn-next.ready {
  filter: grayscale(0);
  cursor: pointer;
}

.playground {
  position: relative;
  height: 47.5vw;
  width: 47.5vw;
  background: repeating-linear-gradient(#414552, #414552 10px, #373b47 10px, #373b47 20px);
}

.playground__layer {
  width: 100%;
  height: 100%;
  padding: 0.65%;
  gap: 0.55%;
  display: flex;
}

.target-layer {
  position: absolute;
  top: 0;
  right: 0;
}
.target-layer .blue {
  border-color: #408baa;
}
.target-layer .green {
  border-color: #24df89;
}
.target-layer .yellow {
  border-color: #e6a425;
}

.engineer-layer {
  position: relative;
}
.engineer-layer .blue {
  background-image: url(../images/blue-engineer.png);
}
.engineer-layer .green {
  background-image: url(../images/green-engineer.png);
}
.engineer-layer .yellow {
  background-image: url(../images/yellow-engineer.png);
}

.object {
  height: 19.55%;
  width: 19.55%;
}

.target {
  border: 0.5em solid;
}

.engineer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  body {
    font-size: calc(0.8rem + (1 - 0.8) * ((100vw - 250px) / (768 - 250)));
  }
  .main__container {
    flex-flow: column-reverse;
    align-items: center;
    margin-bottom: 10px;
  }
  .sidebar {
    width: 95.5vw;
  }
  .code-editor__input {
    font-size: calc(0.8rem + (1 - 0.8) * ((100vw - 250px) / (768 - 250)));
  }
  .code-editor__bttn-next {
    font-size: calc(0.8rem + (1 - 0.8) * ((100vw - 250px) / (768 - 250)));
  }
  .playground {
    height: 95.5vw;
    width: 95.5vw;
  }
}/*# sourceMappingURL=style.css.map */